body {
    width: 100%;
    background-color: #fcf9d7;
}

.box {
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 30px auto 0;
    padding: 30px;
    background-color: #ef9895;
    border-radius: 16px;
    border-style: solid;
    border-color: #3a3d62;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: stretch;
    justify-content: center;
    text-align: right;
    width: 400px;
    margin: 0 auto 20px;
    padding: 0 25px;
    border-radius: 8px;
    border-style: solid;
    border-color: #3a3d62;
    background-color: white;
    color: #3a3d62;
}

.stored {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-height: 75px;
    max-width: 400px;
    padding: 10px 0 0;
}

.topNum {
    padding: 0 5px;
    font-size: 2.5rem;
    text-align: right;
    overflow-wrap: break-word;
}

#activeNum {
    min-height: 75px;
    max-width: 400px;
    font-size: 3rem;
    text-align: right;
    overflow-wrap: break-word;
}

.row {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.keypad {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin: 5px;
    background-color: #ef9895;
    font-size: 1.75rem;
    color: white;
}